{% extends 'base.html' %}

{% from 'bootstrap/form.html' import render_form %}

{% block content %}

<div class="form">
    {{ render_form(form) }}
</div>

<span>{{ messages|length }} messages</span>
<span class="float-right"><a href="#bottom" title="Go Bottom">&darr;</a></span>

<div class="list-group">

    {% for message in messages %}
    <a class="list-group-item list-group-item-action flex-column">
        <div class="d-flex w-100 justify-content-between">
            {{ message.name }} #{{ message.id }}
            <small data-toggle="tooltip" data-placement="top"
                    data-timestamp="{{ message.time.strftime('%Y-%m-%dT%H:%M:%SZ') }}"
                    data-delay="500"> {{ moment(message.time).fromNow(refresh=True) }}</small>

        </div>
        <p class='float-left'>{{ message.message }}</p>
    </a>
    {% endfor %}
</div>

{% endblock %}
